<app-page-title [icon]="icon" [title]="title" [subtitle]="subtitle" [bText]="bText" [bIcon]="bIcon" [route]="lRoute"></app-page-title>
<div class="row">
    <div class="col-sm-8">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Controls Types</h5>
                <form [formGroup]="instrumentForm" (ngSubmit)="onAddInstrument()" class="needs-validation" novalidate>
                    <input *ngIf="dInstrument" type="hidden" name="id" formControlName="id">
                    <div class="position-relative form-group">
                        <label for="name">Nombre <span style="color: crimson;">*</span></label>
                        <input name="name" id="name" formControlName="name" placeholder="Ingrese el nombre" type="text" class="form-control">
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="position-relative form-group">
                        <label for="code">Codigo <span style="color: crimson;">*</span></label>
                        <input name="code" id="code" formControlName="code" placeholder="Ingrese el codigo" type="text" class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <label for="description">Descripción</label>
                        <textarea name="description" id="description" formControlName="description" class="form-control"></textarea>
                    </div>
                    <fieldset class="position-relative form-group">
                        <div class="col-sm-10">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input id="checkbox2" type="checkbox" formControlName="enabled" class="form-check-input">
                                     Habilitado <span style="color: crimson;">*</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="position-relative form-group">
                        <button type="submit" class="btn btn-success" [disabled]="!instrumentForm.valid">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                        <!-- <button type="submit" class="btn btn-success"> 
                          <i class="fa fa-save"></i> Guardar
                        </button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>